<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Infernape</title>
    <link rel="shortcut icon" href="../img/infernape.png" type="image/x-icon">
</head>

<body>
    <h1>Infernape</h1>
    <img src="../img/infernape.png" alt="">
    <p>Tipo: <span style="background-color: orange; padding: 3px; border-radius: 5px;">Fuego</span> <span style="background-color: rgb(100, 70, 15); padding: 3px; border-radius: 5px;">Lucha</span></p>
    <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="../view/cyndaquil.html">Cyndaquil</a></li>
        <li><a href="../view/gyarados.html">Gyarados</a></li>
        <li><a href="../view/palkia.html">Palkia</a></li>
    </ul>
</body>

</html>